body {
  align-content: stretch;
  align-items: stretch;
  background: #111;
  bottom: 0;
  color: white;
  cursor: default;
  display: flex;
  font-family: sans-serif;
  left: 0;
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.clipboard {
  background: black;
  opacity: 0.75;
  pointer-events: none;
  position: absolute;
}

.clipboard canvas {
  image-rendering: pixelated;
}

.commands .changing, .commands .saved  {
  display: none;
}

.commands .play,
.commands .redo,
.commands .showLevels,
.status .pause  {
  margin-bottom: 0.5em;
}

.dialog {
  bottom: 0.5em;
  border: 0.1em solid white;
  border-radius: 0.2em;
  display: inline-block;
  left: 25%;
  min-width: 50%;
  padding: 0.5em;
  position: absolute;
  right: 25%;
  text-align: left;
  top: 0.5em;
}

.dialog .content {
  counter-reset: dialogContentCounter;
  margin-top: 0.5em;
  overflow: auto;
}

.dialog .content .item {
  display: flex;
  position: relative;
}

.dialog .content .item .edit {
  margin-right: 0.3em;
}

.dialog .content .item .fa {
  display: none;
  padding: 0.1em 0;
}

.dialog .content .item .highlight {
  background: #FFF;
  display: none;
  opacity: 0.2;
  pointer-events: none;
}

.dialog .content .item:hover .highlight {
  display: block;
}

.dialog .content .item:hover .fa {
  display: inline;
}

.dialog .content .item .name {
  margin-left: 0.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dialog .content .item .nameBox {
  flex: 1;
  padding: 0.1em 0.2em;
}

.dialog .content .number::before {
  content: counter(dialogContentCounter);
  counter-increment: dialogContentCounter;
  padding-right: 0.2em;
}

.dialog .contentBox {
  flex: 1;
  position: relative;
}

.dialog .fa {
  margin-left: 0.8em;
  margin-top: 0.08em;
}

.dialog .fa.paste,
.dialog .fa.redo,
.dialog .fa.zap {
  margin-left: 0.4em;
}

.dialog .title {
  border-bottom: 0.1em solid white;
  display: flex;
  flex: 0;
  padding-bottom: 0.4em;
}

.dialog .title .name {
  flex: 1;
}

.dialogInner {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.disabled {
  opacity: 0.4;
}

.editMode .status {
  display: none;
}

.fill {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.fill.relative {
  position: relative;
}

.pane {
  display: none;
}

.pane .dialogBox {
  font-size: 2em;
  padding: 0.5em;
  text-align: center;
}

.panel {
  display: inline-block;
}

.panel > * {
  border: 0.1em solid transparent;
  font-size: 2em;
  padding: 0.1em;
}

.panelBox {
  flex: 0;
  min-width: 4em;
}

.playMode .commands, .playMode .toolbox {
  display: none;
}

.right {
  text-align: right;
}

.scoreTimeRow > * {
  padding-top: 1em;
}

.selector {
  border: 0.2em solid white;
  border-radius: 0.2em;
  display: none;
  height: 10em;
  pointer-events: none;
  position: absolute;
  width: 10em;
}

.shade {
  background: black;
  /* Only to own content -> filter: blur(3px);*/
  opacity: 0.65;
}

.stage {
  background: black;
  display: none;
  margin-bottom: auto;
  margin-top: auto;
  position: absolute;
}

.status.other {
  visibility: hidden;
}

table {
  margin-top: 1em;
}

.timeRow td {
  text-align: right;
}

.timeRow th {
  font-weight: normal;
  padding-right: 0.5em;
  text-align: right;
}

.toolbox .ender {
  margin-top: 0.5em;
}

.toolbox input {
  display: none;
}

.toolbox label {
  border: 0.1em solid transparent;
  display: block;
  /* This margin makes the borders overlap across neighbors. */
  margin-bottom: -0.1em;
  position: relative;
}

.toolbox label.ender {
  margin-bottom: 0;
}

.toolbox > label canvas {
  display: block;
}

.toolbox > label:hover .toolMenu,
.toolMenu:hover {
  display: flex;
}

.toolbox i {
  display: block;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.toolbox i * {
  display: block;
}

.toolbox .selected {
  border: 0.1em solid white;
  border-radius: 0.2em;
}

.toolbox .toolMenu label {
  display: block;
  padding: 0.1em;
}

.toolbox .toolMenu label canvas {
  display: block;
}

.toolMenu {
  background: #111;
  display: none;
  /* Left margin gets overruled later, but this at least offsets some. */
  margin-left: 1em;
  margin-top: -0.2em;
  position: absolute;
  padding: 0.1em 0.1em 0.2em 0.3em;
  top: 0;
  z-index: 1;
}

.view {
  flex: 1;
  position: relative;
}
