body {
  align-content: stretch;
  align-items: stretch;
  background: #222;
  bottom: 0;
  color: white;
  display: flex;
  font-family: sans-serif;
  left: 0;
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
}

label.brick:before {
  content: 'B';
}

label.hero:before {
  content: 'R';
}

label.ladder:before {
  content: 'H';
}

.panel {
  flex: 0;
  font-size: 2em;
}

.panel > * {
  border: 0.1em solid transparent;
  padding: 0.2em 0.3em;
}

.toolbox i {
  margin-top: 2em;
}

.toolbox input {
  display: none;
}

.toolbox label {
  display: inline-block;
}

.toolbox > .selected {
  border: 0.1em solid white;
  border-radius: 0.2em;
}

.view {
  flex: 1;
  position: relative;
}

.view canvas {
  background: black;
  left: 50%;
  margin-bottom: auto;
  margin-top: auto;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}
